doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.6, maximum-scale=2.0, user-scalable=yes")
    link(rel="stylesheet" href="/static/reset.css")
    link(rel="stylesheet" href="/static/style.css")
    title= title
  body
    h1= message
    section
        form(action="/login" method="post")
            input(name="username")
            input(name="password")
            input(type="submit" value="Login")