doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.6, maximum-scale=2.0, user-scalable=yes")
    link(rel="stylesheet" href="/static/reset.css")
    link(rel="stylesheet" href="/static/style.css")
    title= title
  body
    h1="Login Results"
    table
        thead
            tr
                th="Method"
                th="Result"
        tbody
            tr
                td="Login Raw"
                td=loginRaw
            tr
                td="Login Sanitized"
                td=loginSanitized
            tr
                td="Login Correctly"
                td=loginCorrectly
            tr
                td="Login Mongoose"
                td=loginMongoose
            tr
                td="Login Mongoose Correctly"
                td=loginMongooseCorrectly