:root {
    --dark-colour: #333;
    --light-colour: #ffe;
}

html, body { background: var(--dark-colour); }
section { margin: 2rem; padding: 2rem; background: var(--light-colour);}
h1 { margin: 2rem; color: var(--light-colour); font-size: 3rem; }

ul {
    list-style: circle;
    margin-left: 2rem;
}
ul li {
    margin-bottom: 0.7rem;
}

form > * { margin: 1rem; }